.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);

}

.close{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.close:before{
    content: '';
    position: absolute;
    top: 50%;
    height: 3px;
    width: 100%;
    left: -1px;
    background: rgb(177, 176, 176);
    transform: rotate(45deg) translateY(-50%);
}

.close:after{
    content: '';
    position: absolute;
    top: 50%;
    height: 3px;
    width: 100%;
    right: -1px;
    background: rgb(177, 176, 176);
    transform: rotate(-45deg) translateY(-50%);
}

.popup{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 300px;
    background: rgb(223, 223, 223);
    border-radius: 8px;
    padding: 20px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.input{
    margin-bottom: 25px;
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    /* border: 1px solid transparent; */
    border: none;
    transition: .3s;
    color: #7c7b7b; 

}

.input:focus{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.add{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background: #7c7b7b;
    color: #fff;
    font-size: 18px;
    outline: none;

}


.add:hover{
    background: rgb(193, 218, 247);
    color: #7c7b7b;
    border: 1px solid #7c7b7b;

}