*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(196, 195, 195);
}

.list{
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    position: relative;
}

.openPopup{
    position: absolute;
    bottom: -70px;
    left: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: transparent;
    transition: .3s;
    font-size: 16px;
    font-weight: bold;
    color: rgb(102, 100, 100);
    outline: none;

}

.openPopup:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    color: #000;
}