*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(196, 195, 195);
}

.list{
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    position: relative;
}