.list{
    list-style-type: none;
    display: flex;
    transition: 0.5s;
    

}

.wrapper{
    width: 100%;
    overflow: hidden;
}

.prev{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: -60px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    outline: none;
    background: url(../img/prev.jpg) no-repeat center;
    background-size: cover;

    

}
.next{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: -60px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 50%;
    background: url(../img/next.jpg) no-repeat center;
    background-size: cover;

}

.next:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%) scale(1.1);
}


.prev:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%) scale(1.1);
}



