.item{
    padding: 20px;
    background: rgb(193, 218, 247);
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    border: 1px solid #000;
    flex-shrink: 0;
    
}

.name{
    font-size: 35px;
    color: #494747;
    margin-bottom: 30px;

}

.name:before{
    content: 'имя';
    font-size: 8px;
    display: inline-block;
    margin-right: 10px;
}
.profession{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    color: #989797;
    margin-bottom: 30px;
    position: relative;
}

.profession:before{
    content: 'профессия';
    margin-right: 10px;
    font-size: 8px;
    color: #000;
}
.age{
    font-size: 30px;

}

.age:before{
    content: 'возраст';
    margin-right: 10px;
    font-size: 8px;
    color: #000;
}
.delete{
    width: 35px;
    height: 35px;
    background: url(../../img/delete.png) center no-repeat;
    background-size: cover;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: .3s;
}

.delete:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}